*{
    padding: 0;
    margin: 0;
}

nav{
    
    background-color: black;
    filter: blur(20);
    width: 100%;
    align-items: right;
    height: 50px;
    position: fixed;
}

nav li{
    margin: 0;
    display:inline-block; 
    margin-left: 10px;
    padding-top: 10px;
    


}


nav li a{

    color: white;
    display: inherit;
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 5px;

    
}
nav li a:hover{

    color: rgb(194, 165, 2);
}

main{
    width: 70%  ;


}

footer{
    background-color: black;
}